.u-margin-bottom-big {
    margin-bottom: 8rem;

    @include respond(phone) {
        margin-bottom: 4rem;
    }
}

.u-margin-top-big {
    margin-top: 8rem;

    @include respond(phone) {
        margin-top: 4rem;
    }
}

.line {
    opacity: 0;
    visibility: hidden;
}